/* #region general  */

html:root {
    --bf_primary: #1abc9c;
    --bf_dark: #3a546d;
    --bf_darker: #2c3e50;
    --bf_light: #fefeff;   
}

img {
    max-width: 100%;
}



/* #endregion general  */

/* #region debug */
.debug #app_header .row [class^="col"] {
    height: 50px;
    background-color: red;
}

/* #endregion debug */

/* #region header */
#app_header {
    height: 100px;
    background-color: var(--bf_darker);
}

/* #endregion header */

/* #region jumbotron */
#jumbotron {
    background-color: var(--bf_primary);
}

/* #endregion jumbotron */


/* #region portfolio */
#portfolio {
    background-color: var(--bf_light);
}
/* #endregion portfolio */
/* #region about */

#about {
    background-color: var(--bf_primary);
}
/* #endregion about */

/* #region contact_me  */
#contact_me {
    background-color: var(--bf_light);
}
/* #endregion contact_me  */

/* #region top_footer */

#top_footer {
    background-color: var(--bf_dark);
}

/* #endregion top_footer */

/* #region bottom_footer */

#bottom_footer {
    background-color: var(--bf_darker);
}

/* #endregion bottom_footer */