/* #region general  */

html:root {
    --bf_primary: #1abc9c;
    --bf_dark: #3a546d;
    --bf_darker: #2c3e50;
    --bf_light: #fefeff;   
}

img {
    max-width: 100%;
}

.star {
    position: relative;
}

.star::before {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}


.star::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
}

/* #endregion general  */



/* #region header */
#app_header {
    background-color: var(--bf_darker);
}

/* #endregion header */

/* #region jumbotron */
#jumbotron {
    background-color: var(--bf_primary);

}

#jumbotron .star::before, #jumbotron .star::after {
    background-color: var(--bf_light);
}


/* #endregion jumbotron */

/* #region portfolio */
#portfolio {
    background-color: var(--bf_light);
}

#portfolio .star::before, #portfolio .star::after {
    background-color: var(--bf_darker)
}
/* #endregion portfolio */
/* #region about */

#about {
    background-color: var(--bf_primary);
}
/* #endregion about */

/* #region contact_me  */
#contact_me {
    background-color: var(--bf_light);
}
/* #endregion contact_me  */

/* #region top_footer */

#top_footer {
    background-color: var(--bf_dark);
}

/* #endregion top_footer */

/* #region bottom_footer */

#bottom_footer {
    background-color: var(--bf_darker);
}

/* #endregion bottom_footer */